<div class="container">
  <h1>QOUTES-APP</h1>
  <hr>
  <h4>post your quotes</h4>
  <div class="row">
      <div id="displayer" class="col-md-6">
          <div>
            <ul>
              <li *ngFor = "let quotes of quotes; let i = index">
                 <h4>{{quotes.quote}}</h4>  <h6>{{quotes.author}}</h6>
                 <!-- <button class="btn btn-outline-dark" (click)='upvote(i)'>UP VOTE <h6>{{quotes.upVote}}</h6>  </button> 
                 <BUtton class="btn btn-outline-dark" (click)='downVote(i)'>DOWN VOTE  <h6>{{quotes.downVote}}</h6></BUtton>
                 <BUtton class="btn btn-outline-light" (click)='delete($event,i)'>delete</BUtton> -->
                 <p>This goal will be completed in </p>
              </li>
            </ul>
          </div>
          <div>
            <button class="btn btn-outline-light">BEST QOUTE</button>
            <p></p>
          </div>
      </div>
      <div class="col-md-6">
        <app-form (addQuote)="addNewQuote($event)"></app-form>
        
      </div>
      
  </div>
</div>